<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>globalArg</param-name>
    <param-value>globalValue</param-value>
  </context-param>

  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
			org.apache.struts2.dispatcher.FilterDispatcher
		</filter-class>
    <init-param>
      <param-name>actionPackages</param-name>
      <param-value>chapter7</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>Helloworld</servlet-name>
    <servlet-class>chapter4.Helloworld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Helloworld</servlet-name>
    <url-pattern>/servlet/helloworld</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewDictionary</servlet-name>
    <servlet-class>chapter4.ViewDictionary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDictionary</servlet-name>
    <url-pattern>/servlet/ViewDictionary</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestDoGet</servlet-name>
    <servlet-class>chapter4.TestDoGet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestDoGet</servlet-name>
    <url-pattern>/servlet/TestDoGet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestDoPost</servlet-name>
    <servlet-class>chapter4.TestDoPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestDoPost</servlet-name>
    <url-pattern>/servlet/TestDoPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestGetAndPost</servlet-name>
    <servlet-class>chapter4.TestGetAndPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestGetAndPost</servlet-name>
    <url-pattern>/servlet/TestGetAndPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestInitDestroy</servlet-name>
    <servlet-class>chapter4.TestInitDestroy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestInitDestroy</servlet-name>
    <url-pattern>/servlet/TestInitDestroy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestPrintWriter</servlet-name>
    <servlet-class>chapter4.TestPrintWriter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestPrintWriter</servlet-name>
    <url-pattern>/servlet/TestPrintWriter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowImage</servlet-name>
    <servlet-class>chapter4.ShowImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowImage</servlet-name>
    <url-pattern>/servlet/ShowImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IncludedServlet</servlet-name>
    <servlet-class>chapter4.IncludedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludedServlet</servlet-name>
    <url-pattern>/servlet/IncludedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IncludingServlet</servlet-name>
    <servlet-class>chapter4.IncludingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludingServlet</servlet-name>
    <url-pattern>/servlet/IncludingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForwardServlet</servlet-name>
    <servlet-class>chapter4.ForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardServlet</servlet-name>
    <url-pattern>/servlet/ForwardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExploreResponseHeader</servlet-name>
    <servlet-class>chapter4.ExploreResponseHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExploreResponseHeader</servlet-name>
    <url-pattern>/servlet/ExploreResponseHeader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OutChinese</servlet-name>
    <servlet-class>chapter4.OutChinese</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutChinese</servlet-name>
    <url-pattern>/servlet/OutChinese</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReadText</servlet-name>
    <servlet-class>chapter4.ReadText</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadText</servlet-name>
    <url-pattern>/servlet/ReadText</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjaxEncode</servlet-name>
    <servlet-class>chapter4.AjaxEncode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxEncode</servlet-name>
    <url-pattern>/servlet/AjaxEncode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveCookie</servlet-name>
    <servlet-class>chapter4.SaveCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCookie</servlet-name>
    <url-pattern>/servlet/SaveCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReadCookie</servlet-name>
    <servlet-class>chapter4.ReadCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadCookie</servlet-name>
    <url-pattern>/servlet/ReadCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>chapter4.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/servlet/SessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewSessionServlet</servlet-name>
    <servlet-class>chapter4.NewSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewSessionServlet</servlet-name>
    <url-pattern>/servlet/NewSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChineseResponseHeader</servlet-name>
    <servlet-class>chapter4.ChineseResponseHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChineseResponseHeader</servlet-name>
    <url-pattern>/servlet/ChineseResponseHeader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReadComplexCookie</servlet-name>
    <servlet-class>chapter4.ReadComplexCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadComplexCookie</servlet-name>
    <url-pattern>/servlet/ReadComplexCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveComplexCookie</servlet-name>
    <servlet-class>chapter4.SaveComplexCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveComplexCookie</servlet-name>
    <url-pattern>/servlet/SaveComplexCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servertime</servlet-name>
    <jsp-file>/chapter5/servertime.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>servertime</servlet-name>
    <url-pattern>/servertime.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>testConfigServletName</servlet-name>
    <jsp-file>/chapter5/testConfig.jsp</jsp-file>
    <init-param>
      <param-name>jsparg</param-name>
      <param-value>jspargvalue</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>testConfigServletName</servlet-name>
    <url-pattern>/chapter5/testConfig.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompareInclude</servlet-name>
    <jsp-file>/chapter5/compareInclude.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompareInclude</servlet-name>
    <url-pattern>/myspace/compareInclude.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>chapter6.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/chapter6/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>chapter6.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/chapter6/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidationCode</servlet-name>
    <servlet-class>chapter6.ValidationCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidationCode</servlet-name>
    <url-pattern>/chapter6/validation_code</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chapter10_Register</servlet-name>
    <servlet-class>chapter10.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>chapter11.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chapter10_Register</servlet-name>
    <url-pattern>/chapter10/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/chapter11/register1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OutDataServlet</servlet-name>
    <servlet-class>chapter12.servlet.OutDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutDataServlet</servlet-name>
    <url-pattern>/chapter12/OutDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OutMultipartDataServlet</servlet-name>
    <servlet-class>
			chapter12.servlet.OutMultipartDataServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutMultipartDataServlet</servlet-name>
    <url-pattern>/chapter12/OutMultipartDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>chapter12.servlet.UploadServlet</servlet-class>
    <init-param>
      <param-name>path</param-name>
      <param-value>d:\upload\</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/chapter12/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadMoreServlet</servlet-name>
    <servlet-class>
			chapter12.servlet.UploadMoreServlet
		</servlet-class>
    <init-param>
      <param-name>path</param-name>
      <param-value>d:\upload\</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadMoreServlet</servlet-name>
    <url-pattern>/chapter12/UploadMoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LocaleServlet</servlet-name>
    <servlet-class>chapter13.servlet.LocaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocaleServlet</servlet-name>
    <url-pattern>/chapter13/LocaleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>scriptCompressed</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FirstHibernateServlet</servlet-name>
    <servlet-class>chapter17.FirstHibernateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstHibernateServlet</servlet-name>
    <url-pattern>/chapter17/FirstHibernate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>component</servlet-name>
    <servlet-class>chapter19.servlet.MyComponent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DataSourceServlet</servlet-name>
    <servlet-class>
			chapter24.servlet.DataSourceServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>component</servlet-name>
    <url-pattern>/chapter19/component</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataSourceServlet</servlet-name>
    <url-pattern>/chapter24/DataSourceServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>